<div class="quiz-list-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>{{#str}}quizlist, theme_alpha{{/str}}</h3>
        <div class="d-flex align-items-center">
            <div class="search-box mr-3">
                <form class="quiz-search-form" action="" method="get">
                    <div class="input-group">
                        <input type="text" 
                               class="form-control" 
                               id="searchQuizzes" 
                               name="search" 
                               value="{{search}}" 
                               placeholder="{{#str}}searchquizzes, theme_alpha{{/str}}">
                        <input type="hidden" name="sort" value="{{sort}}">
                        <input type="hidden" name="direction" value="{{direction}}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="showing-info">
                {{#str}}showing, theme_alpha{{/str}} {{showing_start}}-{{showing_end}} 
                {{#str}}of, theme_alpha{{/str}} {{total_quizzes}} {{#str}}quizzes, theme_alpha{{/str}}
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="quiz-list-header">
                <tr>
                    <th style="color:#fff;" class="{{#id_sorted}}sorted-{{direction}}{{/id_sorted}}" data-sort="id">
                        ID
                    </th>
                    <th style="color:#fff;" class="{{#name_sorted}}sorted-{{direction}}{{/name_sorted}}" data-sort="name">
                        {{#str}}quizname, theme_alpha{{/str}}
                    </th>
                    <th style="color:#fff;" class="{{#timeopen_sorted}}sorted-{{direction}}{{/timeopen_sorted}}" data-sort="timeopen">
                        {{#str}}timeopen, theme_alpha{{/str}}
                    </th>
                    <th style="color:#fff;" class="{{#timeclose_sorted}}sorted-{{direction}}{{/timeclose_sorted}}" data-sort="timeclose">
                        {{#str}}timeclose, theme_alpha{{/str}}
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#quizzes}}
                <tr>
                    <td>{{id}}</td>
                    <td>
                        <a href="{{quizurl}}">{{name}}</a>
                    </td>
                    <td>{{timeopen}}</td>
                    <td>{{timeclose}}</td>
                </tr>
                {{/quizzes}}
            </tbody>
        </table>
    </div>

    {{#pagination}}
    <nav aria-label="Quiz list pagination" class="pagination-container mt-4">
        <ul class="pagination justify-content-center">
            {{#previousurl}}
            <li class="page-item">
                <a class="page-link" href="{{previousurl}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/previousurl}}
            
            {{#pages}}
                {{#current}}
                <li class="page-item active">
                    <span class="page-link">{{number}}</span>
                </li>
                {{/current}}
                {{^current}}
                <li class="page-item">
                    <a class="page-link" href="{{url}}">{{number}}</a>
                </li>
                {{/current}}
            {{/pages}}
            
            {{#nexturl}}
            <li class="page-item">
                <a class="page-link" href="{{nexturl}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/nexturl}}
        </ul>
    </nav>
    {{/pagination}}
</div>