<div class="student-list-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>{{#str}}studentlist, theme_alpha{{/str}}</h3>
        <div class="d-flex align-items-center">
            <div class="search-box mr-3">
                <form class="student-search-form" action="" method="get">
                    <div class="input-group">
                        <input type="text" 
                               class="form-control" 
                               id="searchStudents" 
                               name="search" 
                               value="{{search}}" 
                               placeholder="{{#str}}searchstudents, theme_alpha{{/str}}">
                        <input type="hidden" name="sort" value="{{sort}}">
                        <input type="hidden" name="direction" value="{{direction}}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="showing-info">
                {{#str}}showing, theme_alpha{{/str}} {{showing_start}}-{{showing_end}} 
                {{#str}}of, theme_alpha{{/str}} {{total_students}} {{#str}}students, theme_alpha{{/str}}
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="student-list-header">
                <tr>
                    <th class="{{#id_sorted}}sorted-{{direction}}{{/id_sorted}}" data-sort="id">
                        ID
                    </th>
                    <th>{{#str}}name{{/str}}</th>
                    <th>{{#str}}username{{/str}}</th>
                    <th>{{#str}}email{{/str}}</th>
                    <th>{{#str}}phone{{/str}}</th>
                    <th>{{#str}}city{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#students}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{fullname}}</td>
                    <td>{{username}}</td>
                    <td>{{email}}</td>
                    <td>{{phone}}</td>
                    <td>{{city}}</td>
                </tr>
                {{/students}}
            </tbody>
        </table>
    </div>

    {{#pagination}}
    <nav aria-label="Student list pagination" class="pagination-container mt-4">
        <ul class="pagination justify-content-center">
            {{#previousurl}}
            <li class="page-item">
                <a class="page-link" href="{{previousurl}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/previousurl}}
            
            {{#pages}}
                {{#current}}
                <li class="page-item active">
                    <span class="page-link">{{number}}</span>
                </li>
                {{/current}}
                {{^current}}
                <li class="page-item">
                    <a class="page-link" href="{{url}}">{{number}}</a>
                </li>
                {{/current}}
            {{/pages}}
            
            {{#nexturl}}
            <li class="page-item">
                <a class="page-link" href="{{nexturl}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/nexturl}}
        </ul>
    </nav>
    {{/pagination}}
</div>