{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_alpha/tmpl-frontpage

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_alpha/head }}
<style>
    .bg-darkdeep1 { background-color:#001a47ff; }
    .text-secondaryColor { color: #ffcc00; }
    .text-whiteColor { color: #ffffff; }
    .font-inter { font-family: 'Inter', sans-serif; }
    .tracking-5px { letter-spacing: 5px; }
    .text-size-15 { font-size: 15px; }
    .leading-62px { line-height: 62px; }
    .rounded-2xl { border-radius: 16px; }
    .shadow-brand { box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); margin-top:80px; }
    .hover\:bg-darkblack:hover { background-color: #fff; color: #000}
    .animate-spin-slow { animation: spin 10s linear infinite; }
    .animate-move-hor { animation: moveHorizontally 3s ease-in-out infinite; }
    .banner {width: 1300px;}
    .banner-title { margin-top: 91px; margin-left: 5px;}
    .banner_image {width: 400px;height: 400px; }
    .banner-buttons {margin-top: 50px;}
    @keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
    @keyframes moveHorizontally { 0%, 100% { transform: translateX(0); } 50% { transform: translateX(10px); } }
</style>
<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}
    <section>
    {{! Banner Section }}
    <div class="container-fluid bg-darkdeep1 pt-50px rounded-2xl relative overflow-hidden shadow-brand d-flex banner">
        <div class="container-fluid grid grid-cols-1 lg:grid-cols-2 items-center">
            {{! Banner Left }}
            <div data-aos="fade-up">
                <h3 class="uppercase text-secondaryColor text-size-15 font-inter tracking-5px banner-title">
                    {{#str}} ai_learning, theme_alpha {{/str}}
                </h3>
                <h1 class="text-2xl text-whiteColor md:text-6xl lg:text-size-50 2xl:text-6xl leading-10 md:leading-18 lg:leading-62px 2xl:leading-18 md:tracking-half lg:tracking-normal 2xl:tracking-half font-bold mb-15px">
                    {{#str}} smart_learning_solutions, theme_alpha {{/str}}
                </h1>
                <p class="text-size-15 md:text-lg text-white font-medium mb-45px">
                    {{#str}} ai_learning_description, theme_alpha {{/str}}
                </p>
                <div class="banner-buttons">                 
                    <a href="https://lms.atlearn.in/course/edit.php?category=2&returnto=catmanage" class="text-sm md:text-size-15 font-semibold text-whiteColor bg-whiteColor border border-whiteColor px-5 md:px-30px py-3 md:py-4 hover:text-whiteColor hover:bg-darkblack rounded inline-block mr-6px md:mr-30px shadow-hero-action">
                        {{#str}} create_course, theme_alpha {{/str}}
                        <i class="icofont-long-arrow-right"></i>
                    </a>
                     <a href="https://www.atlearn.in/join-meetings" class="mb-8 ml-3 text-sm md:text-size-15 font-semibold text-whiteColor bg-whiteColor border border-whiteColor px-5 md:px-30px py-3 md:py-4 hover:text-whiteColor hover:bg-darkblack rounded inline-block mr-6px md:mr-30px shadow-hero-action">
                        {{#str}} view_meeting, theme_alpha {{/str}}
                    </a>
                </div>
            </div>
            {{! Banner Right }}
        </div>
        <div>           
            <img class="banner_image" src="{{config.wwwroot}}/theme/alpha/doc/banner_image_lms_ai.webp" alt="herobanner icon" title="herobanner icon" />          
        </div>
    </div>
</section>
 
    <div id="page-wrapper" class="wrapper-fw d-print-block {{#output.courseheadermenu}}rui--course-with-nav{{/output.courseheadermenu}} {{^output.courseheadermenu}}rui--course-witout-nav{{/output.courseheadermenu}}">

        {{{ output.standard_top_of_body_html }}}

        {{^hiddensidebar}}
            {{> theme_alpha/nav-drawer }}
        {{/hiddensidebar}}
        {{^hidecourseindexnav}}{{> theme_alpha/courseindex-tmpl}}{{/hidecourseindexnav}}
                
        <div id="page" data-region="mainpage" data-usertour="scroller" class="container-fluid drawers {{#blockdraweropen}}show-hidden-drawer{{/blockdraweropen}} drag-container">

            {{> theme_alpha/navbar }}
            <div id="topofscroll" class="main-inner">
                <div id="page-content" class="page-content wrapper-page">

                    {{{coursepageinformationbanners}}}
                    <div class="sticky-header">
                        {{#secondarymoremenu}}
                            <div class="secondary-navigation d-print-none">
                                {{> core/moremenu}}
                            </div>
                        {{/secondarymoremenu}}
                    </div>

                    <div id="region-main-box" class="region-main-wrapper--fp">
                        <section id="region-main" class="region-main-content {{#hasblocks}}has-blocks{{/hasblocks}}" aria-label="{{#str}}content{{/str}}">

                                <div {{#hasblocks}}class="wrapper-blocks"{{/hasblocks}}>
                                    {{#hasregionmainsettingsmenu}}
                                        <div class="region_main_settings_menu_proxy"></div>
                                    {{/hasregionmainsettingsmenu}}

                                    {{#headercontent}}
                                        {{> core/activity_header }}
                                    {{/headercontent}}
                                    {{#overflow}}
                                        <div class="container-fluid tertiary-navigation">
                                            <div class="navitem">
                                                {{> core/url_select}}
                                            </div>
                                        </div>
                                    {{/overflow}}

                                    {{{ruiscb}}}

                                    {{{ output.activity_navigation }}}
                                    {{{ output.course_content_footer }}}
                                </div>
                                {{> theme_alpha/hasblocks-tmpl }}

                        </section>
                    </div>
                    
                </div>

                {{> theme_alpha/footer }}
                
            </div>

        </div>

        {{{ output.standard_after_main_region_html }}}

    </div>

</body>

</html>
{{#js}}
    M.util.js_pending('theme_alpha/loader');
    require(['theme_alpha/loader', 'theme_alpha/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_alpha/loader');
    });
{{/js}}